@import url('https://fonts.cdnfonts.com/css/kronika');

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

.blinking-image {
    animation: blink 1s infinite;
  }


body {
    background-image: url("./mdi/fondoBody.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#button {

  border: 3px solid;
  width: 31%;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: inherit;
  font-size: 24px;

}

#fotos {
    
    gap: 10px;
}

#seccion-mensaje {
   
    font-family: 'Kronika', sans-serif;
    font-size: 24px;
    margin-top: -3%;
}

#minimapaGirona {
    overflow: hidden;
    border: 2px outset blueviolet;
    border-radius: 15px;
    width: 25%;
    position: absolute;
    bottom: 0;
    right: 0;

}

#minimapaGirona img {
    
    height: auto;
    transition: transform 0.3s ease-in-out;
}

#minimapaGirona:hover img {
  transform: scale(1.3);
}

#letras-Girona {
    font-family: 'Kronika', sans-serif;
    font-size: 50px;
    margin-top: 0%;
}
