@import url('https://fonts.cdnfonts.com/css/kronika');

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

.blinking-image {
    animation: blink 1s infinite;
  }


body {
    background-color: rgb(130, 130, 235);
  }
#button {
    
    gap: 30px;
    font-family: inherit;
    font-size: 24px;
    margin-top: 30px;

}

#fotos {
    
    gap: 10px;
}

#seccion-mensaje {
   
    font-family: 'Kronika', sans-serif;
    font-size: 24px;
    margin-top: -3%;
}

#mapaSur {
    overflow: hidden;
    border: 2px outset blueviolet;
    border-radius: 15px;
    width: 25%;
    margin-top: -8%;
}

#mapaSur img {

    height: auto;
    transition: transform 0.3s ease-in-out;
}

#mapaSur:hover img {
  transform: scale(1.4); /* Puedes ajustar el valor según tu preferencia */
}

#letras-Girona {
    font-family: 'Kronika', sans-serif;
    font-size: 50px;
    margin-top: 0%;
}
